@font-face {
  font-family: "Cocon-Regular-Font";
   src: url("resources/fonts/Cocon-Regular-Font.otf");
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background: linear-gradient(135deg, #7EA4E7, #F99FDF);
  font-family: "Cocon-Regular-Font";
  font-size: 14px;
  font-weight: bold;
}

a {
  color: #000000;
  text-decoration: none;
}

span {
  font-size: 14px;
}

.container {
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.50);
  height: 480px;
  width: 854px;
  animation: show 0.75s;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: "Cocon-Regular-Font";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  transition: transform 60ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: default;
  transform: none;
}

select {
  cursor: pointer;
  background-color: #F9F9F9;
  font-family: "Cocon-Regular-Font";
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
}

select:disabled {
  cursor: default;
}

input:focus, select:focus {
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
}

.input-group-prepend, .input-group-append {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #E6E6E6;
}

.input-group-prepend {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-group-append {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-group-prepend-icon, .input-group-append-icon {
  border: none;
  box-shadow: none;
}

.input-group-append-icon:hover {
  transform: scale(1.05);
}

.input-group-text {
  background-color: #F9F9F9;
  font-family: "Cocon-Regular-Font";
  font-weight: bold;
  border: hidden;
  width: 100%;
}
