#lobby.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 20px 20px;
  height: 720px;
  width: 1080px;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  padding: 0 16px;
  height: 100%;
  width: 768px;
  animation: show 1s;
}

.lobby-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.header h1 {
  margin: 0;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: transparent;
  box-shadow: none;
}

.account .input-group-prepend {
  background-color: transparent;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.account .input-group-prepend-icon {
  background: url("../resources/images/male-profile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.account .divider {
  user-select: none;
  font-size: 28px;
  margin: 0 5px;
}

.account .sign-out {
  cursor: pointer;
  white-space: nowrap;
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.select-container select {
  margin-left: 6px;
  width: 95px;
}
