#login h1 {
	margin: 0;
}

#login p {
  font-size: 14px;
  letter-spacing: 0.5px;
	line-height: 20px;
	margin: 20px 0;
}

#login span {
  font-size: 14px;
  margin-bottom: 10px;
}

#login a {
  color: #000000;
	font-size: 14px;
  text-decoration: none;
}

@keyframes show {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}

@keyframes hide {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

@keyframes moveLeft {
  from {left: 50%}
  to {left: 0%}
}

@keyframes moveRight {
  from {left: 0%}
  to {left: 50%;}
}

#login .form-container {
  position: absolute;
  overflow: hidden;
	height: 100%;
}

.sign-in-container {
  z-index: 1;
  width: 50%;
  opacity: 1;
  animation: show 0.6s, moveLeft 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .sign-in-container {
  z-index: 0;
  opacity: 0;
  animation: hide 0.6s, moveRight 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sign-up-container {
  z-index: 0;
  width: 50%;
  opacity: 0;
  animation: hide 0.6s, moveLeft 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .sign-up-container {
  z-index: 1;
  opacity: 1;
  animation: show 0.6s, moveRight 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.social-container {
	margin: 25px 0;
}

.social {
  display: inline-flex;
	justify-content: center;
  align-items: center;
  margin: 0 5px;
  border: 2px solid #E0E0E0;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.33);
  height: 40px;
	width: 40px;
}

.social.facebook {
  background: url("../resources/images/facebook.png");
  background-size: 36px;
}

.social.google {
  background: url("../resources/images/google.png");
  background-size: 36px;
}

.social.twitter {
  background: url("../resources/images/twitter.png");
  background-size: 36px;
}

.input-group-prepend-icon.username {
  background: url("../resources/images/username.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-group-prepend-icon.password {
  background: url("../resources/images/password.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-group-prepend-icon.email {
  background: url("../resources/images/email.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.sign-status{
  color: #FF0000;
}

.sign-btn {
	background-color: #00B300;
	color: #FFFFFF;
	font-size: 12px;
  font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
  padding: 12px 45px;
  margin: 15px 0 0 0;
  border: 2px solid #00B300;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.33);
  border-radius: 20px;
}

@keyframes stretch {
  0%, 10% {width: 50%}
  10%, 40% {width: 55%}
  40%, 80% {width: 60%}
  80%, 90% {width: 55%}
  90%, 100% {width: 50%}
}

.overlay-container {
  position: absolute;
  overflow: hidden;
  z-index: 100;
	background: linear-gradient(135deg, #ff8080, #800000);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	width: 50%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  animation: show 0.6s, moveRight 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  color: #FFFFFF;
  position: relative;
  display: flex;
	height: 100%;
  width: 200%;
  left: -100%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.toggle .overlay {
  transform: translateX(50%);
}

.overlay-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  text-align: center;
  padding: 0 50px;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.toggle .overlay-panel {
  transform: translateX(50%);
}

.overlay-left {
  position: relative;
  left: -25%;
  animation: hide 1.2s;
}

.container.toggle .overlay-left {
  animation: show 1.2s;
}

.overlay-right {
  animation: show 1.2s;
}

.container.toggle .overlay-right {
  animation: hide 1.2s;
}
