#login h1 {
	margin: 0;
}

#login p {
  letter-spacing: 0.5px;
	line-height: 20px;
	margin: 20px 0;
}

#login span {
  margin-bottom: 10px;
}

@keyframes show {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}

@keyframes hide {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

@keyframes moveLeft {
  from {left: 50%}
  to {left: 0%}
}

@keyframes moveRight {
  from {left: 0%}
  to {left: 50%;}
}

.sign-container {
  position: absolute;
  overflow: hidden;
	height: 100%;
}

.sign-in-container {
  z-index: 1;
  width: 50%;
  opacity: 1;
  animation: show 0.75s, moveLeft 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .sign-in-container {
  z-index: 0;
  opacity: 0;
  animation: hide 0.75s, moveRight 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sign-up-container {
  z-index: 0;
  width: 50%;
  opacity: 0;
  animation: hide 0.75s, moveLeft 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .sign-up-container {
  z-index: 1;
  opacity: 1;
  animation: show 0.75s, moveRight 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.social-container {
	margin: 25px 0;
}

.social {
  margin: 0 5px;
  border: 2px solid #E0E0E0;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
  height: 40px;
	width: 40px;
}

.social.facebook {
  background: url("../resources/images/facebook.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.social.google {
  background: url("../resources/images/google.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.social.twitter {
  background: url("../resources/images/twitter.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.sign-container .input-group {
  margin: 10px 0;
}

.sign-container .input-group-prepend {
  margin: 0 1px;
  height: 36px;
  width: 36px;
}

.sign-container .input-group-prepend-icon {
  height: 24px;
  width: 24px;
}

.input-group-prepend-icon.username {
  background: url("../resources/images/username.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-group-prepend-icon.password {
  background: url("../resources/images/password.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-group-prepend-icon.email {
  background: url("../resources/images/email.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.sign-container .input-group-text {
  padding: 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sign-status {
  color: #FF0000;
}

.sign-btn {
  background: linear-gradient(135deg, #00B300, #00CC00 50%, #00B300);
	color: #FFFFFF;
  padding: 12px 45px;
  margin: 15px 0 0 0;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.overlay .sign-btn {
  background: linear-gradient(135deg, #7EA4E7, #F99FDF);
}

@keyframes stretch {
  0%, 10% {width: 50%}
  10%, 40% {width: 55%}
  40%, 80% {width: 60%}
  80%, 90% {width: 55%}
  90%, 100% {width: 50%}
}

.overlay-container {
  position: absolute;
  overflow: hidden;
  z-index: 100;
	background: linear-gradient(135deg, #7EA4E7, #F99FDF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	width: 50%;
  height: 100%;
  transition: transform 0.75s ease-in-out;
  animation: show 0.75s, moveRight 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container.toggle .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  color: #FFFFFF;
  position: relative;
  display: flex;
	height: 100%;
  width: 200%;
  left: -100%;
  transform: translateX(0);
	transition: transform 0.75s ease-in-out;
}

.container.toggle .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  text-align: center;
  padding: 0 50px;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.75s ease-in-out;
}

.container.toggle .overlay-panel {
  transform: translateX(50%);
}

.overlay-left {
  position: relative;
  left: -25%;
  animation: hide 1.5s;
}

.container.toggle .overlay-left {
  animation: show 1.5s;
}

.overlay-right {
  animation: show 1.5s;
}

.container.toggle .overlay-right {
  animation: hide 1.5s;
}
